
	





img{
	width: 650px;
	border: 0px solid black;
	
}







body{

	font-size: 35px;
	background-color: black;
	font-family:contrast;
	color: red;
	 
}


.liverpool{
	width: 355.5;
	border: 1px black;
}
	

.games{
	width: 400px;
	border: 1px black;
}

.anfield{
	height:;
	width: 225;
	border: 1px black;
}

.scarf{
	width: 250px;
	border: 1px black;
}
		
.led{
	width: 500px;
    border: 1px black;

}	
	.videos{
		width:700px;
	}


}




	
	
